:root{
    --underweight:orange;
    --normal: green;
    --overweight:lightcoral;
    --obese:crimson;

}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: blanchedalmond;
    display:grid;
    place-items:center;
    height:100vh;
}
h1{
    text-align: center;
}
.container{
    width:90%;
    max-width:420px;
    background:whitesmoke;
    padding:1rem;
    border-radius:10px;
    box-shadow:0 10px 15px rgba(0,0,0,0.25);
    display:grid;
    gap:1rem;
}
.calculator{
    display:grid;
    gap:1rem;
}
.calculator div{
    display:flex;
    align-items:center;
    gap:1rem;
}
.calculator label{
    flex:0 1 120px;
    font-weight: 600;
}
.calculator input{
    flex:1;
    border:1px solid grey;
    border-radius: 5px;
    padding:10px;
    outline-color:grey;
    font-size:1.25 rem;
    text-align: center;
}
.calculator button{
    width:50%;
    border-radius:5px;
    border:none;
    cursor:pointer;
    padding: 10px;
    background-color: antiquewhite;
    color:black;
    text-transform:uppercase;
    letter-spacing:1px;
}
.claculator button[type="reset"]{
    background:blanchedalmond;
}
.calculator button:hover{
    filter:brightness(120%);
}
.output{
    text-align: center;
}
.output #bmi{
    font-size: 4rem;
}
.output #desc strong{
    text-transform: uppercase;
}
.bmi-scale{
    display:flex;
}
.bmi-scale div{
    flex:1;
    text-align: center;
    text-transform: uppercase;
    border-top:5px solid var(--color);
    padding:10px;
}
.bmi-scale h4{
    font-size:0.75rem;
    color:slategray;
}