<div class="container">
    <div class="weather-card">
        <div class="input-group">
            <input type="text" class="font-control search-input"
            placeholder="enter location"/>
            <button class="btn btn-primary search-bar">Search</button>
        </div>
        <div class="weather-info">
            <img src="" alt="Weather-image"/>
            <div class="temperature">25</div>
            <div class="description">Description</div>
        </div>
        <div class="additional-info">
            <div class="info-item">
                <span>Feels Like:</span>
                <span></span>
            </div>
            <div class="info-item">
                <span>Pressure:</span>
                <span></span>
            </div>
            <div class="info-item">
                <span>Humidity:</span>
                <span></span>
            </div>
            <div class="info-item">
                <span>City:</span>
                <span></span>
            </div>
        </div>
    </div>
</div>
